:host {
  background: darkblue;
}

.navbar {
  justify-content: space-between;
  background: #0C2678;
  color: #FFFFFF;
}

.cursor {
  cursor: pointer;
}

span {
  padding-right: 2rem;
  cursor: pointer;
  color: #FFFFFF;
}
