<div class='grid'>
  <div *ngFor='let user of Users.users'>
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar *ngIf='user?.avatar' [src]="user.avatar" class="example-header-image">
        <img mat-card-avatar *ngIf='!user?.avatar' src="https://material.angular.io/assets/img/examples/shiba1.jpg">
        <mat-card-title class="names">{{user.first_name}} {{user.last_name}}</mat-card-title>
        <mat-card-subtitle class="subtitle">{{user.position}}</mat-card-subtitle>
        <div class="buttons">
<!--          <div >-->
            <button mat-fab color="primary" (click)="edit(user.id)">
              <mat-icon>edit</mat-icon>
            </button>
<!--          </div>-->
<!--          <div style="">-->
            <button mat-fab color="warn">
              <mat-icon>delete</mat-icon>
            </button>
<!--          </div>-->
        </div>
      </mat-card-header>
      <img mat-card-image class='image' *ngIf='user?.publication' [src]="user.publication" alt="Photo of a Shiba Inu">
      <img mat-card-image class='image' *ngIf='!user?.publication' src="./assets/FORO-DIA-AGUA-0001.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="comment">
        <p *ngIf='user?.comment'>
          {{user.comment}}
        </p>
        <p *ngIf='!user?.comment'>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
